
* {
  box-sizing: border-box;
}
body{
  padding: 20px 20% ;
}

ul {
  margin: 0 20px;
  padding: 0;
}
button{
  margin: 20px;
}
p{
  display: inline;
}
.btn-outline-primary{
  display: inline;
  margin: 0 10px 0 0;
}